.edit-profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  margin: 50px 0;
}

.edit-profile-box {
  background: rgba(3, 7, 94, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 1000px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.edit-profile-box h2 {
  width: 100%;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}

.edit-profile-box .left-column,
.edit-profile-box .right-column {
  display: flex;
  flex-direction: column;
  width: calc(40% - 20px); /* Adjusted to 50% to ensure proper spacing */
  margin-left: 70px;
}

.edit-profile-box .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.edit-profile-box .input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.edit-profile-box .input-group input,
.edit-profile-box .input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
}

.edit-profile-box .input-group input[type="file"] {
  padding: 5px;
}

.edit-profile-box .input-group.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
}

.edit-profile-box button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  align-self: center;
}

.edit-profile-box button:hover {
  background-color: #0056b3;
}
