.edit-profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 50px 0; /* Ostaviti marginu samo vertikalno */
}

.edit-profile-box {
  background: rgba(3, 7, 94, 0.8); /* Tamno plava boja sa providnošću */
  padding: 30px;
  border-radius: 10px; /* Manja zaobljenost */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Manja senka */
  width: 80%; /* Postaviti širinu kao procenat */
  max-width: 1200px; /* Maksimalna širina za veće ekrane */
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dve kolone */
  gap: 20px; /* Razmak između kolona */
}

.edit-profile-box h2 {
  grid-column: span 2; /* Naslov zauzima celu širinu */
  margin-bottom: 20px;
  font-size: 22px; /* Manji font za naslov */
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left; /* Tekst labela levo poravnat */
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  text-align: left; /* Tekst unutar input polja levo poravnat */
}

button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px; /* Razmak između dugmadi */
}

button:hover {
  background-color: #0056b3;
}

button[type="button"] {
  background-color: #6c757d;
}

button[type="button"]:hover {
  background-color: #5a6268;
}
